___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [1]:
# Import Pandas
import numpy as np
import pandas as pd
import re 

# Read the file in JSON format
df = pd.read_json('as24_cars.json')

# Get rid of disturbing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# It's obvious there are some unwanted characters in the column names. Let's remove the the unwanteds and get a clear versions.
# First remove the newline characters
df.columns = df.columns.str.strip('\n')

# Convert fancy CO₂ into CO2 
df.columns = df.columns.str.replace('CO₂-', 'CO2 ')

# Then remove paranthesis
df.columns = df.columns.str.replace('\(', '')
df.columns = df.columns.str.replace(')', '')

# Fix the Ampersand
df.columns = df.columns.str.replace('&', 'and')

# Check them again
sorted(df)

['Availability',
 'Available from',
 'Battery Ownership',
 'Body type',
 'CO2 efficiency',
 'CO2 emissions',
 'CO2 emissions WLTP',
 'Colour',
 'Comfort and Convenience',
 'Country version',
 'Cylinders',
 'Doors',
 'Drivetrain',
 'Electric Range WLTP',
 'Emission class',
 'Emissions sticker',
 'Empty weight',
 'Energy efficiency class',
 'Engine size',
 'Entertainment and Media',
 'Extras',
 'First registration',
 'Fuel consumption',
 'Fuel consumption WLTP',
 'Fuel type',
 'Full service history',
 'Gearbox',
 'Gears',
 'General inspection',
 'Last service',
 'Last timing belt change',
 'Manufacturer colour',
 'Mileage',
 'Model code',
 'Non-smoker vehicle',
 'Offer number',
 'Other fuel types',
 'Paint',
 'Power',
 'Power consumption',
 'Power consumption WLTP',
 'Previous owner',
 'Production date',
 'Safety and Security',
 'Seats',
 'Taxi or rental car',
 'Type',
 'Upholstery',
 'Upholstery colour',
 'Warranty',
 'desc',
 'location',
 'make',
 'make_model',
 'model',
 'price',
 'seller',
 'short_description']

In [3]:
# Now, the data
df.sort_values(by='make_model', na_position='first')

,make_model,short_description,make,model,location,price,Body type,Type,Doors,Country version,...,CO2 efficiency,Fuel consumption WLTP,CO2 emissions WLTP,Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range WLTP,Power consumption WLTP,Battery Ownership
1785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27729,Volvo XC90,Momentum AWD,\nVolvo\n,"[\n, XC90 ,\n]","Kirchdorfer Str. 80, 86825 Bad Wörishofen, DE","€ 37,950.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27635,Volvo XC90,Inscription Expression Recharge AWD T8 EU6d -7...,\nVolvo\n,"[\n, XC90 ,\n]","Stockumer Str. 80, 58453 Witten, DE","€ 76,930.-","[\n, Off-Road/Pick-up, \n]","[\n, Demonstration, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27983,Volvo XC90,T8 Twin Recharge Inscription AWD Aut.,\nVolvo\n,"[\n, XC90 ,\n]","CTRA. MADRID-TOLEDO, KM. 63,200, 45280 OLIAS ...","€ 69,800.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28135,Volvo XC90,XC-90 2.0 B5 D MOMENTUM 5 SEAT AWD AUTO 5P,\nVolvo\n,"[\n, XC90 ,\n]","VÍA COMPLUTENSE, 121, 28805 ALCALÁ DE HENARES...","€ 61,500.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27612,Volvo XC90,T8 AWD Recharge Inscription Vollausstattung,\nVolvo\n,"[\n, XC90 ,\n]","Am Römerhof 15, 60486 Frankfurt am Main, DE","€ 97,450.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# There are some rows containing nothing but a row number. Check them further
df.isnull().sum()

# We've got something here

make_model                   850
short_description            850
make                         850
model                        850
location                     850
price                        850
Body type                    850
Type                         850
Doors                       1209
Country version            12591
Offer number                6380
Warranty                   13696
Mileage                      851
First registration           852
Gearbox                     1098
Fuel type                   2637
Colour                      2574
Paint                      14985
desc                        1433
seller                       850
Seats                       3975
Power                       1422
Engine size                 2253
Gears                      10526
CO2 emissions              10886
Manufacturer colour         7693
Drivetrain                 12587
Cylinders                  10628
Fuel consumption            6095
Comfort and Convenience     4047
Entertainment and Media     5836
Safety and Security         4065
Extras                      6000
Empty weight               11722
Model code                 21113
General inspection         17226
Last service               27477
Full service history       16915
Non-smoker vehicle         17886
Emission class             11621
Emissions sticker          20066
Upholstery colour          14911
Upholstery                 10870
Production date            23572
Previous owner             15465
Other fuel types           27167
Power consumption          28965
Energy efficiency class    21676
CO2 efficiency             21676
Fuel consumption WLTP      29380
CO2 emissions WLTP         29364
Available from             29087
Taxi or rental car         29058
Availability               29179
Last timing belt change    28908
Electric Range WLTP        29464
Power consumption WLTP     29464
Battery Ownership          29473
dtype: int64

In [5]:
# There are 850 lines composed of only air and row number. So, remove them freely.
df=df.dropna(subset=['make_model'])

# And, check the list again
df.sort_values(by='make_model', na_position='first')
# It looks better and now, we have 28630 rows. 850's gone!

,make_model,short_description,make,model,location,price,Body type,Type,Doors,Country version,...,CO2 efficiency,Fuel consumption WLTP,CO2 emissions WLTP,Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range WLTP,Power consumption WLTP,Battery Ownership
15465,Dacia,Essential NAVI+KAMERA+CARPLAY+KLIMA+LED,\nDacia\n,"[\n, ,\n]","Haardt 2, 09247 Chemnitz-Röhrsdorf, DE","€ 22,479.-","[\n, Compact, \n]","[\n, Pre-registered, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,"[\n, in 90 days after order, \n]",NaN,NaN,NaN,NaN
16846,Dacia,"1300, Oldtimer, H-Zulassung.",\nDacia\n,"[\n, ,\n]","Schopperstr. 99, 07937 Zeulenroda, DE","€ 9,999.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 5, \n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16537,Dacia,COMFORT TCe 110 KLIMAAUTOMATIK+RADIO+ZV+,\nDacia\n,"[\n, ,\n]","Florian-Geyer-Straße 1, 09120 Chemnitz, DE","€ 21,799.-","[\n, Station wagon, \n]","[\n, Demonstration, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,"[\n, in 5 days after order, \n]",NaN,NaN,NaN,NaN
15464,Dacia,Essential NAVI+KAMERA+CARPLAY+KLIMA+LED,\nDacia\n,"[\n, ,\n]","Haardt 2, 09247 Chemnitz-Röhrsdorf, DE","€ 22,299.-","[\n, Compact, \n]","[\n, Pre-registered, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,"[\n, in 90 days after order, \n]",NaN,NaN,NaN,NaN
15422,Dacia,Electric Business,\nDacia\n,"[\n, ,\n]","Weiherstraße 15, 71106 Magstadt, DE","€ 19,515.-","[\n, Compact, \n]","[\n, Demonstration, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,"[\n, in 270 days after order, \n]",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27729,Volvo XC90,Momentum AWD,\nVolvo\n,"[\n, XC90 ,\n]","Kirchdorfer Str. 80, 86825 Bad Wörishofen, DE","€ 37,950.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27635,Volvo XC90,Inscription Expression Recharge AWD T8 EU6d -7...,\nVolvo\n,"[\n, XC90 ,\n]","Stockumer Str. 80, 58453 Witten, DE","€ 76,930.-","[\n, Off-Road/Pick-up, \n]","[\n, Demonstration, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27983,Volvo XC90,T8 Twin Recharge Inscription AWD Aut.,\nVolvo\n,"[\n, XC90 ,\n]","CTRA. MADRID-TOLEDO, KM. 63,200, 45280 OLIAS ...","€ 69,800.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28135,Volvo XC90,XC-90 2.0 B5 D MOMENTUM 5 SEAT AWD AUTO 5P,\nVolvo\n,"[\n, XC90 ,\n]","VÍA COMPLUTENSE, 121, 28805 ALCALÁ DE HENARES...","€ 61,500.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27612,Volvo XC90,T8 AWD Recharge Inscription Vollausstattung,\nVolvo\n,"[\n, XC90 ,\n]","Am Römerhof 15, 60486 Frankfurt am Main, DE","€ 97,450.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check nulls again
df.isnull().sum()

#It looks better

make_model                     0
short_description              0
make                           0
model                          0
location                       0
price                          0
Body type                      0
Type                           0
Doors                        359
Country version            11741
Offer number                5530
Warranty                   12846
Mileage                        1
First registration             2
Gearbox                      248
Fuel type                   1787
Colour                      1724
Paint                      14135
desc                         583
seller                         0
Seats                       3125
Power                        572
Engine size                 1403
Gears                       9676
CO2 emissions              10036
Manufacturer colour         6843
Drivetrain                 11737
Cylinders                   9778
Fuel consumption            5245
Comfort and Convenience     3197
Entertainment and Media     4986
Safety and Security         3215
Extras                      5150
Empty weight               10872
Model code                 20263
General inspection         16376
Last service               26627
Full service history       16065
Non-smoker vehicle         17036
Emission class             10771
Emissions sticker          19216
Upholstery colour          14061
Upholstery                 10020
Production date            22722
Previous owner             14615
Other fuel types           26317
Power consumption          28115
Energy efficiency class    20826
CO2 efficiency             20826
Fuel consumption WLTP      28530
CO2 emissions WLTP         28514
Available from             28237
Taxi or rental car         28208
Availability               28329
Last timing belt change    28058
Electric Range WLTP        28614
Power consumption WLTP     28614
Battery Ownership          28623
dtype: int64

In [7]:
# Now, focus on every and each columns

df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO2 emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', 'Comfort and Convenience',
       'Entertainment and Media', 'Safety and Security', 'Extras',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO2 efficiency',
       'Fuel consumption WLTP', 'CO2 emissions WLTP', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range WLTP', 'Power consumption WLTP', 'Battery Ownership'],
      dtype='object')

In [8]:
# make_model

# Fix the name
df.rename(columns={'make_model': 'Make_Model'}, inplace=True)

In [9]:
# short_description

# Fix the name
df.rename(columns={'short_description': 'Short_Description'}, inplace=True)

# Completely useless, so drop it
df.drop('Short_Description', inplace=True, axis=1)

In [10]:
# make

# Fix the name
df.rename(columns={'make': 'Make'}, inplace=True)

# There are new line characters. Let's clean them
df.Make = df.Make.apply(lambda x: x.replace('\n', ''))

df.Make.value_counts()

Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2360
Renault          2351
Fiat             2338
Ford             2324
Nissan           2064
Toyota           2038
Hyundai          1867
SEAT             1743
Skoda            1566
Dacia            1537
Name: Make, dtype: int64

In [11]:
# model

# Fix the name
df.rename(columns={'model': 'Model'}, inplace=True)

df['Model'] = df['Model'].astype(str)

# Cells in this column are in list format and there are new line characters. Let's clean them
df.Model = df.Model.apply(lambda x: x.lstrip('[\'\\n, ').rstrip(' ,\\n\']')) 

# Delete rows with unknown Model 
df = df.drop(df[df.Model == ''].index)

In [12]:
# model

# Delete rows with unknown Model whose count is only 1
counts = df['Model'].value_counts()
df = df[df['Model'].isin(counts[counts > 1].index)]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28249 entries, 0 to 29478
Data columns (total 57 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               28249 non-null  object
 1   Make                     28249 non-null  object
 2   Model                    28249 non-null  object
 3   location                 28249 non-null  object
 4   price                    28249 non-null  object
 5   Body type                28249 non-null  object
 6   Type                     28249 non-null  object
 7   Doors                    27910 non-null  object
 8   Country version          16653 non-null  object
 9   Offer number             22816 non-null  object
 10  Warranty                 15596 non-null  object
 11  Mileage                  28248 non-null  object
 12  First registration       28247 non-null  object
 13  Gearbox                  28014 non-null  object
 14  Fuel type                26486 non-null  object
 15  Colour                   26544 non-null  object
 16  Paint                    14374 non-null  object
 17  desc                     27671 non-null  object
 18  seller                   28249 non-null  object
 19  Seats                    25178 non-null  object
 20  Power                    27688 non-null  object
 21  Engine size              26893 non-null  object
 22  Gears                    18718 non-null  object
 23  CO2 emissions            18473 non-null  object
 24  Manufacturer colour      21512 non-null  object
 25  Drivetrain               16652 non-null  object
 26  Cylinders                18617 non-null  object
 27  Fuel consumption         23153 non-null  object
 28  Comfort and Convenience  25149 non-null  object
 29  Entertainment and Media  23369 non-null  object
 30  Safety and Security      25136 non-null  object
 31  Extras                   23197 non-null  object
 32  Empty weight             17542 non-null  object
 33  Model code               8299 non-null   object
 34  General inspection       12136 non-null  object
 35  Last service             1980 non-null   object
 36  Full service history     12459 non-null  object
 37  Non-smoker vehicle       11472 non-null  object
 38  Emission class           17739 non-null  object
 39  Emissions sticker        9328 non-null   object
 40  Upholstery colour        14423 non-null  object
 41  Upholstery               18418 non-null  object
 42  Production date          5832 non-null   float64
 43  Previous owner           13867 non-null  object
 44  Other fuel types         2283 non-null   object
 45  Power consumption        496 non-null    object
 46  Energy efficiency class  7740 non-null   object
 47  CO2 efficiency           7740 non-null   object
 48  Fuel consumption WLTP    98 non-null     object
 49  CO2 emissions WLTP       112 non-null    object
 50  Available from           381 non-null    object
 51  Taxi or rental car       420 non-null    object
 52  Availability             295 non-null    object
 53  Last timing belt change  567 non-null    object
 54  Electric Range WLTP      14 non-null     object
 55  Power consumption WLTP   14 non-null     object
 56  Battery Ownership        6 non-null      object
dtypes: float64(1), object(56)
memory usage: 12.5+ MB

In [13]:
# location

# Fix the name
df.rename(columns={'location': 'Location'}, inplace=True)

# It looks like this column contains addresses, which is not necessary that much detail. 
# Instead, only the country information is enough and more meaningful. So, let's keep only 2-letter-country name and 
# delete the rest.

df.Location = df.Location.str[-2:]

counts = df['Location'].value_counts()
df = df[df['Location'].isin(counts[counts > 1].index)]

df.Location.value_counts()

DE    12498
ES     6386
NL     2911
IT     2473
BE     1858
FR     1441
AT      644
LU       35
Name: Location, dtype: int64

In [14]:
# price

# Fix the name
df.rename(columns={'price': 'Price'}, inplace=True)

# let's clean the column
df["Price"] = df["Price"].dropna().apply(lambda x: x.lstrip("€ ").rstrip(".-").replace(",",""))
df.Price=df.Price.astype(float)

In [15]:
# price

# Handle with outliers
a=df.Price.quantile(0.25)
b=df.Price.quantile(0.75)
print(a, b, (b-a))

11990.0 27990.0 16000.0

In [16]:
# price

# Find lower and upper limit using IQR
lower_limit=a-(1.5*(b-a))
upper_limit=b+(1.5*(b-a))

print(lower_limit, upper_limit)

-12010.0 51990.0

In [17]:
# price

Price_outliers = df.loc[(df.Price > upper_limit) | (df.Price <lower_limit)].sort_values(by='Price',ascending=False)
df.drop(Price_outliers.index, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 57 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26091 non-null  object
 8   Country version          15622 non-null  object
 9   Offer number             21172 non-null  object
 10  Warranty                 14498 non-null  object
 11  Mileage                  26393 non-null  object
 12  First registration       26393 non-null  object
 13  Gearbox                  26177 non-null  object
 14  Fuel type                24930 non-null  object
 15  Colour                   24780 non-null  object
 16  Paint                    13124 non-null  object
 17  desc                     25835 non-null  object
 18  seller                   26394 non-null  object
 19  Seats                    23479 non-null  object
 20  Power                    25859 non-null  object
 21  Engine size              25224 non-null  object
 22  Gears                    17561 non-null  object
 23  CO2 emissions            17144 non-null  object
 24  Manufacturer colour      19919 non-null  object
 25  Drivetrain               15267 non-null  object
 26  Cylinders                17390 non-null  object
 27  Fuel consumption         21744 non-null  object
 28  Comfort and Convenience  23511 non-null  object
 29  Entertainment and Media  21817 non-null  object
 30  Safety and Security      23504 non-null  object
 31  Extras                   21590 non-null  object
 32  Empty weight             16394 non-null  object
 33  Model code               7376 non-null   object
 34  General inspection       11177 non-null  object
 35  Last service             1894 non-null   object
 36  Full service history     11316 non-null  object
 37  Non-smoker vehicle       10403 non-null  object
 38  Emission class           16379 non-null  object
 39  Emissions sticker        8441 non-null   object
 40  Upholstery colour        13253 non-null  object
 41  Upholstery               16995 non-null  object
 42  Production date          5212 non-null   float64
 43  Previous owner           12604 non-null  object
 44  Other fuel types         1809 non-null   object
 45  Power consumption        308 non-null    object
 46  Energy efficiency class  6741 non-null   object
 47  CO2 efficiency           6741 non-null   object
 48  Fuel consumption WLTP    76 non-null     object
 49  CO2 emissions WLTP       84 non-null     object
 50  Available from           243 non-null    object
 51  Taxi or rental car       322 non-null    object
 52  Availability             263 non-null    object
 53  Last timing belt change  556 non-null    object
 54  Electric Range WLTP      7 non-null      object
 55  Power consumption WLTP   7 non-null      object
 56  Battery Ownership        5 non-null      object
dtypes: float64(2), object(55)
memory usage: 11.7+ MB

In [19]:
# Body type

# Fix the name
df.rename(columns={'Body type': 'Body_Type'}, inplace=True)

# Cells in this column are in list format and there are new line characters. Let's clean them
df.Body_Type = df.Body_Type.apply(lambda x: str(x).replace('[\'\\n, ', '').replace(', \\n\']', '')) 

df.Body_Type.value_counts(dropna=False)

Compact             5312
Station wagon       5175
Off-Road/Pick-up    4830
Sedan               4752
Coupe               3368
Convertible         2957
Name: Body_Type, dtype: int64

In [20]:
# Type

# Cells in this column are in list format and there are new line characters. Let's clean them
df.Type = df.Type.apply(lambda x: str(x).replace('[\'\\n, ', '').replace(', \\n\']', '').replace('[\"\\n, ', '').replace(', \\n\"]', '') ) 

df.Type.value_counts()

Used              23707
Pre-registered     1241
Demonstration      1016
Employee's car      430
Name: Type, dtype: int64

In [21]:
# Doors

# There are new line characters. Let's clean them
df.Doors = df.Doors.apply(lambda x: str(x).replace('[\'\\n, ', '').replace(', \\n\']', ''))
df['Doors'] = df['Doors'].replace("nan", '5')
df.Doors.value_counts()

5    16897
2     4776
4     2590
3     2124
6        5
1        2
Name: Doors, dtype: int64

In [22]:
# Country version

# Fix the name
df.rename(columns={'Country version': 'Country_Version'}, inplace=True)

# Data is not meaningful. 
df.drop('Country_Version', inplace=True, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body_Type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26394 non-null  object
 8   Offer number             21172 non-null  object
 9   Warranty                 14498 non-null  object
 10  Mileage                  26393 non-null  object
 11  First registration       26393 non-null  object
 12  Gearbox                  26177 non-null  object
 13  Fuel type                24930 non-null  object
 14  Colour                   24780 non-null  object
 15  Paint                    13124 non-null  object
 16  desc                     25835 non-null  object
 17  seller                   26394 non-null  object
 18  Seats                    23479 non-null  object
 19  Power                    25859 non-null  object
 20  Engine size              25224 non-null  object
 21  Gears                    17561 non-null  object
 22  CO2 emissions            17144 non-null  object
 23  Manufacturer colour      19919 non-null  object
 24  Drivetrain               15267 non-null  object
 25  Cylinders                17390 non-null  object
 26  Fuel consumption         21744 non-null  object
 27  Comfort and Convenience  23511 non-null  object
 28  Entertainment and Media  21817 non-null  object
 29  Safety and Security      23504 non-null  object
 30  Extras                   21590 non-null  object
 31  Empty weight             16394 non-null  object
 32  Model code               7376 non-null   object
 33  General inspection       11177 non-null  object
 34  Last service             1894 non-null   object
 35  Full service history     11316 non-null  object
 36  Non-smoker vehicle       10403 non-null  object
 37  Emission class           16379 non-null  object
 38  Emissions sticker        8441 non-null   object
 39  Upholstery colour        13253 non-null  object
 40  Upholstery               16995 non-null  object
 41  Production date          5212 non-null   float64
 42  Previous owner           12604 non-null  object
 43  Other fuel types         1809 non-null   object
 44  Power consumption        308 non-null    object
 45  Energy efficiency class  6741 non-null   object
 46  CO2 efficiency           6741 non-null   object
 47  Fuel consumption WLTP    76 non-null     object
 48  CO2 emissions WLTP       84 non-null     object
 49  Available from           243 non-null    object
 50  Taxi or rental car       322 non-null    object
 51  Availability             263 non-null    object
 52  Last timing belt change  556 non-null    object
 53  Electric Range WLTP      7 non-null      object
 54  Power consumption WLTP   7 non-null      object
 55  Battery Ownership        5 non-null      object
dtypes: float64(2), object(54)
memory usage: 11.5+ MB

In [23]:
# Offer number

# Fix the name
df.rename(columns={'Offer number': 'Offer_Number'}, inplace=True)

# Data is not meaningful.
df.drop('Offer_Number', inplace=True, axis=1)
df.info()

#
# TODO
#

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body_Type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26394 non-null  object
 8   Warranty                 14498 non-null  object
 9   Mileage                  26393 non-null  object
 10  First registration       26393 non-null  object
 11  Gearbox                  26177 non-null  object
 12  Fuel type                24930 non-null  object
 13  Colour                   24780 non-null  object
 14  Paint                    13124 non-null  object
 15  desc                     25835 non-null  object
 16  seller                   26394 non-null  object
 17  Seats                    23479 non-null  object
 18  Power                    25859 non-null  object
 19  Engine size              25224 non-null  object
 20  Gears                    17561 non-null  object
 21  CO2 emissions            17144 non-null  object
 22  Manufacturer colour      19919 non-null  object
 23  Drivetrain               15267 non-null  object
 24  Cylinders                17390 non-null  object
 25  Fuel consumption         21744 non-null  object
 26  Comfort and Convenience  23511 non-null  object
 27  Entertainment and Media  21817 non-null  object
 28  Safety and Security      23504 non-null  object
 29  Extras                   21590 non-null  object
 30  Empty weight             16394 non-null  object
 31  Model code               7376 non-null   object
 32  General inspection       11177 non-null  object
 33  Last service             1894 non-null   object
 34  Full service history     11316 non-null  object
 35  Non-smoker vehicle       10403 non-null  object
 36  Emission class           16379 non-null  object
 37  Emissions sticker        8441 non-null   object
 38  Upholstery colour        13253 non-null  object
 39  Upholstery               16995 non-null  object
 40  Production date          5212 non-null   float64
 41  Previous owner           12604 non-null  object
 42  Other fuel types         1809 non-null   object
 43  Power consumption        308 non-null    object
 44  Energy efficiency class  6741 non-null   object
 45  CO2 efficiency           6741 non-null   object
 46  Fuel consumption WLTP    76 non-null     object
 47  CO2 emissions WLTP       84 non-null     object
 48  Available from           243 non-null    object
 49  Taxi or rental car       322 non-null    object
 50  Availability             263 non-null    object
 51  Last timing belt change  556 non-null    object
 52  Electric Range WLTP      7 non-null      object
 53  Power consumption WLTP   7 non-null      object
 54  Battery Ownership        5 non-null      object
dtypes: float64(2), object(53)
memory usage: 11.3+ MB

In [24]:
# Warranty

# Cells in this column are in list format and there are new line characters. Let's clean them
df.Warranty = df.Warranty.apply(lambda x: str(x).replace('[\'\\n, ', '').replace(', \\n\']', '').replace(' months', '').replace('Yes', 'nan'))
df['Warranty'] = pd.to_numeric(df['Warranty'], errors='coerce')

df.Warranty.value_counts()

12.0     9072
24.0     1117
60.0      935
6.0       391
36.0      229
         ...
43.0        1
65.0        1
99.0        1
122.0       1
44.0        1
Name: Warranty, Length: 61, dtype: int64

In [25]:
# Warranty

for group1 in list(df["Make_Model"].unique()):    
        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["Warranty"].mode())
    if mode != []:
        df.loc[cond, "Warranty"] = df.loc[cond, "Warranty"].fillna(df[cond]["Warranty"].mode()[0])
    else:
        df.loc[cond, "Warranty"] = df.loc[cond, "Warranty"].fillna(df["Warranty"].mode()[0])
        

df['Warranty'] = df['Warranty'].astype(int)
df.Warranty.value_counts()

12     22198
60      1303
24      1257
6        492
36       365
       ...
49         1
55         1
122        1
53         1
44         1
Name: Warranty, Length: 61, dtype: int64

In [26]:
# Warranty

## Warranty sütununu 6'ya kadar 1, 6 dan 12 ye kadar 2, 12 den 24 e kadar 3, 24 den 36 ya kadar 4, 
## 36 dan 48 e kadar 5, 48 den 96 ya kadar 6 ve 96 dan büyükse 7 vererek grup yapildi

bins = [-1, 6, 12, 24, 36, 48, 96, float("inf")]
labels = [1, 2, 3, 4, 5, 6, 7]
df['Warranty_Category'] = pd.cut(df['Warranty'], bins=bins, labels=labels)

df.Warranty_Category.value_counts()

2    22228
6     1398
3     1376
1      866
4      436
5       86
7        4
Name: Warranty_Category, dtype: int64

In [27]:
# Warranty

# Since we have a new one, we don't need the old one anymore
df.drop('Warranty', inplace=True, axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body_Type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26394 non-null  object
 8   Mileage                  26393 non-null  object
 9   First registration       26393 non-null  object
 10  Gearbox                  26177 non-null  object
 11  Fuel type                24930 non-null  object
 12  Colour                   24780 non-null  object
 13  Paint                    13124 non-null  object
 14  desc                     25835 non-null  object
 15  seller                   26394 non-null  object
 16  Seats                    23479 non-null  object
 17  Power                    25859 non-null  object
 18  Engine size              25224 non-null  object
 19  Gears                    17561 non-null  object
 20  CO2 emissions            17144 non-null  object
 21  Manufacturer colour      19919 non-null  object
 22  Drivetrain               15267 non-null  object
 23  Cylinders                17390 non-null  object
 24  Fuel consumption         21744 non-null  object
 25  Comfort and Convenience  23511 non-null  object
 26  Entertainment and Media  21817 non-null  object
 27  Safety and Security      23504 non-null  object
 28  Extras                   21590 non-null  object
 29  Empty weight             16394 non-null  object
 30  Model code               7376 non-null   object
 31  General inspection       11177 non-null  object
 32  Last service             1894 non-null   object
 33  Full service history     11316 non-null  object
 34  Non-smoker vehicle       10403 non-null  object
 35  Emission class           16379 non-null  object
 36  Emissions sticker        8441 non-null   object
 37  Upholstery colour        13253 non-null  object
 38  Upholstery               16995 non-null  object
 39  Production date          5212 non-null   float64
 40  Previous owner           12604 non-null  object
 41  Other fuel types         1809 non-null   object
 42  Power consumption        308 non-null    object
 43  Energy efficiency class  6741 non-null   object
 44  CO2 efficiency           6741 non-null   object
 45  Fuel consumption WLTP    76 non-null     object
 46  CO2 emissions WLTP       84 non-null     object
 47  Available from           243 non-null    object
 48  Taxi or rental car       322 non-null    object
 49  Availability             263 non-null    object
 50  Last timing belt change  556 non-null    object
 51  Electric Range WLTP      7 non-null      object
 52  Power consumption WLTP   7 non-null      object
 53  Battery Ownership        5 non-null      object
 54  Warranty_Category        26394 non-null  category
dtypes: category(1), float64(2), object(52)
memory usage: 11.1+ MB

In [28]:
# First registration

# Fix the name
df.rename(columns={'First registration': 'First_Registration'}, inplace=True)

# Split into Month and Year and keep only Year
First_registration =  df['First_Registration'].str.split("/", n=1, expand=True)
First_registration.columns = ["First_Registration_Month", "First_Registration_Year"]
df["First_Registration_Year"] = First_registration["First_Registration_Year"]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body_Type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26394 non-null  object
 8   Mileage                  26393 non-null  object
 9   First_Registration       26393 non-null  object
 10  Gearbox                  26177 non-null  object
 11  Fuel type                24930 non-null  object
 12  Colour                   24780 non-null  object
 13  Paint                    13124 non-null  object
 14  desc                     25835 non-null  object
 15  seller                   26394 non-null  object
 16  Seats                    23479 non-null  object
 17  Power                    25859 non-null  object
 18  Engine size              25224 non-null  object
 19  Gears                    17561 non-null  object
 20  CO2 emissions            17144 non-null  object
 21  Manufacturer colour      19919 non-null  object
 22  Drivetrain               15267 non-null  object
 23  Cylinders                17390 non-null  object
 24  Fuel consumption         21744 non-null  object
 25  Comfort and Convenience  23511 non-null  object
 26  Entertainment and Media  21817 non-null  object
 27  Safety and Security      23504 non-null  object
 28  Extras                   21590 non-null  object
 29  Empty weight             16394 non-null  object
 30  Model code               7376 non-null   object
 31  General inspection       11177 non-null  object
 32  Last service             1894 non-null   object
 33  Full service history     11316 non-null  object
 34  Non-smoker vehicle       10403 non-null  object
 35  Emission class           16379 non-null  object
 36  Emissions sticker        8441 non-null   object
 37  Upholstery colour        13253 non-null  object
 38  Upholstery               16995 non-null  object
 39  Production date          5212 non-null   float64
 40  Previous owner           12604 non-null  object
 41  Other fuel types         1809 non-null   object
 42  Power consumption        308 non-null    object
 43  Energy efficiency class  6741 non-null   object
 44  CO2 efficiency           6741 non-null   object
 45  Fuel consumption WLTP    76 non-null     object
 46  CO2 emissions WLTP       84 non-null     object
 47  Available from           243 non-null    object
 48  Taxi or rental car       322 non-null    object
 49  Availability             263 non-null    object
 50  Last timing belt change  556 non-null    object
 51  Electric Range WLTP      7 non-null      object
 52  Power consumption WLTP   7 non-null      object
 53  Battery Ownership        5 non-null      object
 54  Warranty_Category        26394 non-null  category
 55  First_Registration_Year  26393 non-null  object
dtypes: category(1), float64(2), object(53)
memory usage: 11.3+ MB

In [29]:
# First registration
df["First_Registration_Year"].replace(to_replace="NaN", value=np.nan)
df.First_Registration_Year.value_counts(dropna = False)

2019    3454
2018    3332
2022    2508
2021    2376
2017    2344
        ...
2202       1
NaN        1
2023       1
1929       1
1900       1
Name: First_Registration_Year, Length: 75, dtype: int64

In [30]:
# First registration
for group1 in list(df["Make_Model"].unique()):    
        
    cond = (df["Make_Model"]==group1)
    mode = list(df[cond]["First_Registration_Year"].mode())
    if mode != []:
        df.loc[cond, "First_Registration_Year"] = df.loc[cond, "First_Registration_Year"].fillna(df[cond]["First_Registration_Year"].mode()[0])
    else:
        df.loc[cond, "First_Registration_Year"] = df.loc[cond, "First_Registration_Year"].fillna(df["First_Registration_Year"].mode()[0])
        
df.First_Registration_Year.value_counts()

2019    3454
2018    3332
2022    2508
2021    2377
2017    2344
        ...
1946       1
2025       1
2023       1
1929       1
1900       1
Name: First_Registration_Year, Length: 74, dtype: int64

In [31]:
# First registration Year
df["First_Registration_Year"] =  pd.to_numeric(df['First_Registration_Year'], downcast="integer")

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26394 entries, 0 to 29478
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               26394 non-null  object
 1   Make                     26394 non-null  object
 2   Model                    26394 non-null  object
 3   Location                 26394 non-null  object
 4   Price                    26394 non-null  float64
 5   Body_Type                26394 non-null  object
 6   Type                     26394 non-null  object
 7   Doors                    26394 non-null  object
 8   Mileage                  26393 non-null  object
 9   First_Registration       26393 non-null  object
 10  Gearbox                  26177 non-null  object
 11  Fuel type                24930 non-null  object
 12  Colour                   24780 non-null  object
 13  Paint                    13124 non-null  object
 14  desc                     25835 non-null  object
 15  seller                   26394 non-null  object
 16  Seats                    23479 non-null  object
 17  Power                    25859 non-null  object
 18  Engine size              25224 non-null  object
 19  Gears                    17561 non-null  object
 20  CO2 emissions            17144 non-null  object
 21  Manufacturer colour      19919 non-null  object
 22  Drivetrain               15267 non-null  object
 23  Cylinders                17390 non-null  object
 24  Fuel consumption         21744 non-null  object
 25  Comfort and Convenience  23511 non-null  object
 26  Entertainment and Media  21817 non-null  object
 27  Safety and Security      23504 non-null  object
 28  Extras                   21590 non-null  object
 29  Empty weight             16394 non-null  object
 30  Model code               7376 non-null   object
 31  General inspection       11177 non-null  object
 32  Last service             1894 non-null   object
 33  Full service history     11316 non-null  object
 34  Non-smoker vehicle       10403 non-null  object
 35  Emission class           16379 non-null  object
 36  Emissions sticker        8441 non-null   object
 37  Upholstery colour        13253 non-null  object
 38  Upholstery               16995 non-null  object
 39  Production date          5212 non-null   float64
 40  Previous owner           12604 non-null  object
 41  Other fuel types         1809 non-null   object
 42  Power consumption        308 non-null    object
 43  Energy efficiency class  6741 non-null   object
 44  CO2 efficiency           6741 non-null   object
 45  Fuel consumption WLTP    76 non-null     object
 46  CO2 emissions WLTP       84 non-null     object
 47  Available from           243 non-null    object
 48  Taxi or rental car       322 non-null    object
 49  Availability             263 non-null    object
 50  Last timing belt change  556 non-null    object
 51  Electric Range WLTP      7 non-null      object
 52  Power consumption WLTP   7 non-null      object
 53  Battery Ownership        5 non-null      object
 54  Warranty_Category        26394 non-null  category
 55  First_Registration_Year  26394 non-null  int16
dtypes: category(1), float64(2), int16(1), object(52)
memory usage: 11.2+ MB

In [32]:
# First registration Year

# Fix some outliers
df.loc[df['First_Registration_Year'] < 1960, 'First_Registration_Year'] = 1960
df.loc[df['First_Registration_Year'] > 2022, 'First_Registration_Year'] = 2020

# Drop the old column
df.drop('First_Registration', inplace=True, axis=1)

df.First_Registration_Year.value_counts().sort_values()

1962       3
1963       4
1961       5
1980       6
1981       7
        ...
2017    2344
2021    2377
2022    2508
2018    3332
2019    3454
Name: First_Registration_Year, Length: 63, dtype: int64

In [33]:
# Age

df["Age"] = 2022 - df["First_Registration_Year"]
df["Age"]

0         6
3         2
4         7
5        17
6         4
         ..
29474     3
29475    18
29476    11
29477     5
29478    20
Name: Age, Length: 26394, dtype: int16

In [34]:
# Age outliers

# Handle outliers
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

print(str(lower_bound) + ' ' + str(upper_bound))

-8.5 19.5

In [35]:
# Age

outliers = df.loc[(df["Age"] < lower_bound) | (df["Age"] > upper_bound)].sort_values(by='Age',ascending=False)

In [36]:
# Age

df.drop(outliers.index, inplace=True)

In [37]:
# Mileage

df.Mileage = df.Mileage.astype(str)

df.Mileage = df.Mileage.str.replace(',', '').str.replace(' km', '')
df["Mileage"] = df["Mileage"].replace(to_replace="nan", value=np.nan)

# Fill NaN values of Mileage wrt Age
for group in list(df["Age"].unique()):
    cond = (df["Age"] == group)
    mode = list(df[cond]["Mileage"].mode())
    if mode != []:
        df.loc[cond, "Mileage"] = df.loc[cond, "Mileage"].fillna(df[cond]["Mileage"].mode()[0])
    else:
        df.loc[cond, "Mileage"] = df.loc[cond, "Mileage"].fillna(df["Mileage"].mode()[0])

df.Mileage.info()

<class 'pandas.core.series.Series'>
Int64Index: 24719 entries, 0 to 29477
Series name: Mileage
Non-Null Count  Dtype
--------------  -----
24719 non-null  object
dtypes: object(1)
memory usage: 386.2+ KB

In [38]:
df.Mileage.value_counts()

10        532
1         152
50        121
5         102
100        96
         ...
14995       1
96368       1
118049      1
44693       1
94343       1
Name: Mileage, Length: 12862, dtype: int64

In [39]:
# Mileage

# convert Mileage to int
df["Mileage"] =  pd.to_numeric(df['Mileage'], downcast="integer")

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24719 entries, 0 to 29477
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               24719 non-null  object
 1   Make                     24719 non-null  object
 2   Model                    24719 non-null  object
 3   Location                 24719 non-null  object
 4   Price                    24719 non-null  float64
 5   Body_Type                24719 non-null  object
 6   Type                     24719 non-null  object
 7   Doors                    24719 non-null  object
 8   Mileage                  24719 non-null  int32
 9   Gearbox                  24574 non-null  object
 10  Fuel type                23257 non-null  object
 11  Colour                   23178 non-null  object
 12  Paint                    12451 non-null  object
 13  desc                     24235 non-null  object
 14  seller                   24719 non-null  object
 15  Seats                    22023 non-null  object
 16  Power                    24246 non-null  object
 17  Engine size              23764 non-null  object
 18  Gears                    16480 non-null  object
 19  CO2 emissions            16660 non-null  object
 20  Manufacturer colour      19432 non-null  object
 21  Drivetrain               14332 non-null  object
 22  Cylinders                16092 non-null  object
 23  Fuel consumption         20880 non-null  object
 24  Comfort and Convenience  22353 non-null  object
 25  Entertainment and Media  20947 non-null  object
 26  Safety and Security      22370 non-null  object
 27  Extras                   20504 non-null  object
 28  Empty weight             15405 non-null  object
 29  Model code               7233 non-null   object
 30  General inspection       10473 non-null  object
 31  Last service             1558 non-null   object
 32  Full service history     10874 non-null  object
 33  Non-smoker vehicle       9882 non-null   object
 34  Emission class           15735 non-null  object
 35  Emissions sticker        8209 non-null   object
 36  Upholstery colour        12252 non-null  object
 37  Upholstery               15909 non-null  object
 38  Production date          5093 non-null   float64
 39  Previous owner           11921 non-null  object
 40  Other fuel types         1808 non-null   object
 41  Power consumption        308 non-null    object
 42  Energy efficiency class  6722 non-null   object
 43  CO2 efficiency           6722 non-null   object
 44  Fuel consumption WLTP    76 non-null     object
 45  CO2 emissions WLTP       84 non-null     object
 46  Available from           243 non-null    object
 47  Taxi or rental car       322 non-null    object
 48  Availability             252 non-null    object
 49  Last timing belt change  362 non-null    object
 50  Electric Range WLTP      7 non-null      object
 51  Power consumption WLTP   7 non-null      object
 52  Battery Ownership        5 non-null      object
 53  Warranty_Category        24719 non-null  category
 54  First_Registration_Year  24719 non-null  int16
 55  Age                      24719 non-null  int16
dtypes: category(1), float64(2), int16(2), int32(1), object(50)
memory usage: 10.2+ MB

In [40]:
# Mileage Outliers

Q1 = df["Mileage"].quantile(0.25)
Q3 = df["Mileage"].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

print(str(lower_bound) + ' ' + str(upper_bound))

-101834.0 228390.0

In [41]:
# Mileage Outliers

outliers = df.loc[(df["Mileage"] < lower_bound) | (df["Mileage"] > upper_bound)].sort_values(by='Mileage',ascending=False)
outliers

,Make_Model,Make,Model,Location,Price,Body_Type,Type,Doors,Mileage,Gearbox,...,Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range WLTP,Power consumption WLTP,Battery Ownership,Warranty_Category,First_Registration_Year,Age
19322,Nissan Micra,Nissan,Micra,ES,14400.0,Compact,Used,5,1440000,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2019,3
12339,SEAT Ibiza,SEAT,Ibiza,ES,10200.0,Compact,Used,5,1199900,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2018,4
23516,Ford Fiesta,Ford,Fiesta,DE,9990.0,Sedan,Used,3,1000001,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2018,4
13343,SEAT Altea XL,SEAT,Altea XL,ES,3400.0,Station wagon,Used,5,667128,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2010,12
14594,Skoda Superb,Skoda,Superb,ES,4500.0,Station wagon,Used,5,600000,[\nAutomatic\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2011,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5774,Renault Megane,Renault,Megane,IT,5500.0,Coupe,Used,3,229000,[\nManual\n],...,NaN,NaN,NaN,03/2022,NaN,NaN,NaN,2,2009,13
25820,Volvo C30,Volvo,C30,ES,6489.0,Compact,Used,3,229000,[\nAutomatic\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2007,15
2734,Opel Astra,Opel,Astra,ES,7490.0,Compact,Used,5,229000,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2015,7
26215,Volvo C30,Volvo,C30,ES,6489.0,Compact,Used,3,229000,[\nAutomatic\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2007,15
2742,Opel Corsa,Opel,Corsa,NL,2895.0,Compact,Used,5,228815,[\nManual\n],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2009,13

In [42]:
df.drop(outliers.index, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24130 entries, 0 to 29477
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               24130 non-null  object
 1   Make                     24130 non-null  object
 2   Model                    24130 non-null  object
 3   Location                 24130 non-null  object
 4   Price                    24130 non-null  float64
 5   Body_Type                24130 non-null  object
 6   Type                     24130 non-null  object
 7   Doors                    24130 non-null  object
 8   Mileage                  24130 non-null  int32
 9   Gearbox                  23987 non-null  object
 10  Fuel type                22669 non-null  object
 11  Colour                   22598 non-null  object
 12  Paint                    12140 non-null  object
 13  desc                     23673 non-null  object
 14  seller                   24130 non-null  object
 15  Seats                    21487 non-null  object
 16  Power                    23657 non-null  object
 17  Engine size              23185 non-null  object
 18  Gears                    16061 non-null  object
 19  CO2 emissions            16238 non-null  object
 20  Manufacturer colour      19116 non-null  object
 21  Drivetrain               13958 non-null  object
 22  Cylinders                15606 non-null  object
 23  Fuel consumption         20335 non-null  object
 24  Comfort and Convenience  21828 non-null  object
 25  Entertainment and Media  20463 non-null  object
 26  Safety and Security      21853 non-null  object
 27  Extras                   20041 non-null  object
 28  Empty weight             14939 non-null  object
 29  Model code               7183 non-null   object
 30  General inspection       10159 non-null  object
 31  Last service             1481 non-null   object
 32  Full service history     10659 non-null  object
 33  Non-smoker vehicle       9743 non-null   object
 34  Emission class           15312 non-null  object
 35  Emissions sticker        8100 non-null   object
 36  Upholstery colour        11938 non-null  object
 37  Upholstery               15554 non-null  object
 38  Production date          5065 non-null   float64
 39  Previous owner           11706 non-null  object
 40  Other fuel types         1807 non-null   object
 41  Power consumption        308 non-null    object
 42  Energy efficiency class  6699 non-null   object
 43  CO2 efficiency           6699 non-null   object
 44  Fuel consumption WLTP    76 non-null     object
 45  CO2 emissions WLTP       84 non-null     object
 46  Available from           243 non-null    object
 47  Taxi or rental car       320 non-null    object
 48  Availability             250 non-null    object
 49  Last timing belt change  322 non-null    object
 50  Electric Range WLTP      7 non-null      object
 51  Power consumption WLTP   7 non-null      object
 52  Battery Ownership        5 non-null      object
 53  Warranty_Category        24130 non-null  category
 54  First_Registration_Year  24130 non-null  int16
 55  Age                      24130 non-null  int16
dtypes: category(1), float64(2), int16(2), int32(1), object(50)
memory usage: 10.0+ MB

In [43]:
# Gearbox

# Let's clean data
df.Gearbox = df.Gearbox.apply(lambda x: str(x).replace( '[\'\\n', '' ).replace('\\n\']', '')   )
df.Gearbox.value_counts()
#
# TODO
#

Manual            14895
Automatic          9044
nan                 143
Semi-automatic       48
Name: Gearbox, dtype: int64

In [44]:
# Gearbox
# convert nans into NaNs
df["Gearbox"] = df["Gearbox"].replace(to_replace="nan", value="-")
df["Gearbox"] = df["Gearbox"].replace(to_replace="-", value=np.nan)

df["Gearbox"].value_counts(dropna = False)

Manual            14895
Automatic          9044
NaN                 143
Semi-automatic       48
Name: Gearbox, dtype: int64

In [45]:
# Gearbox
# Fill NaNs wrt Make_Model
for group1 in list(df["Make_Model"].unique()):
    
    cond = (df["Make_Model"]==group1)
    mode = list(df[cond]["Gearbox"].mode())
    if mode != []:
        df.loc[cond, "Gearbox"] = df.loc[cond, "Gearbox"].fillna(df[cond]["Gearbox"].mode()[0])
    else:
        df.loc[cond, "Gearbox"] = df.loc[cond, "Gearbox"].fillna(df["Gearbox"].mode()[0])
        
df["Gearbox"].value_counts(dropna = False)

Manual            14990
Automatic          9092
Semi-automatic       48
Name: Gearbox, dtype: int64

In [46]:
# Fuel type

# Fix the name
df.rename(columns={'Fuel type': 'Fuel_Type'}, inplace=True)

benzine = ["Super 95",
          "Regular/Benzine 91",
          "Super E10 95",
          "Regular/Benzine 91 (Particle filter)",
          "Super 95 (Particle filter)",
          "Super E10 95 (Particle filter)",
          "Regular/Benzine E10 91",
          "Super Plus 98",
          "Super Plus E10 98",
          "Super Plus E10 98 (Particle filter)",
          "Super Plus 98 (Particle filter)",
          "Regular/Benzine E10 91 (Particle filter)",
          "Gasoline",
          "Gasoline (Particle filter)",
          "Ethanol",
          "Super 95 (Particle filter) / Super E10 95 / Ethanol"]         
lpg = ["Liquid petroleum gas (LPG)",
       "CNG",
       "LPG",
       "Domestic gas H",
       "Domestic gas L",
       "CNG (Particle filter)",
       "LPG (Particle filter)",
       "Hydrogen",
       "Domestic gas L (Particle filter)",
       "Liquid petroleum gas (LPG) (Particle filter)",
       "Biogas"]
bi_fuel = ["Liquid petroleum gas (LPG) (Particle filter) / Super 95 / Super E10 95",
           "Liquid petroleum gas (LPG) / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95",
           "Liquid petroleum gas (LPG) / Super 95 / Super E10 95",
           "Liquid petroleum gas (LPG) / Super 95",
           "Liquid petroleum gas (LPG) / Super 95 / Super E10 95 / Super Plus 98",
           "Liquid petroleum gas (LPG) / Super 95 / Super Plus 98",
           "Liquid petroleum gas (LPG) / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95",
           "Liquid petroleum gas (LPG) / Super E10 95",
           "Super 95 / Super Plus 98 / Liquid petroleum gas (LPG)",
           "Domestic gas L / Super 95 / Domestic gas H",
           "Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L",
           "Liquid petroleum gas (LPG) / Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Biogas",
           "Super 95 / Liquid petroleum gas (LPG)"]
electric = ["Electric",
            "Electric (Particle filter)"]
diesel = ["Diesel",
          "Diesel (Particle filter)"]
other = ["Others",
         "Others (Particle filter)"]
def fueltype(i) :
    if i in benzine :
        return "Benzine"
    if i in lpg :
        return "LPG"
    if i in electric :
        return "Electric"
    if i in bi_fuel :
        return "Bi-fuel"
    if i in diesel :
        return "Diesel"
    if i in other :
        return "Other"
    else:
        return i
    
df["Fuel_Type"] = df["Fuel_Type"].apply(fueltype)

df["Fuel_Type"].value_counts(dropna = False)

Benzine     14015
Diesel       7954
NaN          1461
LPG           320
Other         199
Electric      162
Bi-fuel        19
Name: Fuel_Type, dtype: int64

In [47]:
# Fuel type

# Convert nans into NaNs
df["Fuel_Type"].replace(to_replace="NaN", value=np.nan)

# Fill NaNs wrt Make_Model
for group1 in list(df["Make_Model"].unique()):
    
    cond = (df["Make_Model"]==group1)
    mode = list(df[cond]["Fuel_Type"].mode())
    if mode != []:
        df.loc[cond, "Fuel_Type"] = df.loc[cond, "Fuel_Type"].fillna(df[cond]["Fuel_Type"].mode()[0])
    else:
        df.loc[cond, "Fuel_Type"] = df.loc[cond, "Fuel_Type"].fillna(df["Fuel_Type"].mode()[0])
        
df["Fuel_Type"].value_counts()

Benzine     15057
Diesel       8180
Electric      329
LPG           323
Other         222
Bi-fuel        19
Name: Fuel_Type, dtype: int64

In [48]:
# Colour
df.Colour.value_counts(dropna = False)

df["Colour"].replace(to_replace="NaN", value=np.nan)

df['Colour'] = df['Colour'].astype("string")

for group1 in list(df["Make_Model"].unique()):
    
        
    cond = ((df["Make_Model"]==group1))
    mode = list(df[cond]["Colour"].mode())
    if mode != []:
        df.loc[cond, "Colour"] = df.loc[cond, "Colour"].fillna(df[cond]["Colour"].mode()[0])
    else:
        df.loc[cond, "Colour"] = df.loc[cond, "Colour"].fillna(df["Colour"].mode()[0])
        
df.Colour.value_counts(dropna = False)

Black     5868
Grey      5680
White     5189
Blue      2892
Red       1803
Silver    1225
Brown      412
Green      277
Orange     243
Beige      228
Yellow     135
Violet      76
Bronze      56
Gold        46
Name: Colour, dtype: Int64

In [49]:
# Paint
# Fix the name
df.rename(columns={'Paint': 'Metallic'}, inplace=True)
df.Metallic.value_counts(dropna = False)

Metallic    12140
NaN         11990
Name: Metallic, dtype: int64

In [50]:
# Metallic
# Fill NaNs
df["Metallic"].replace(to_replace="NaN", value=np.nan)
df['Metallic'] = df['Metallic'].astype("string")

df["Metallic"].replace(to_replace="Uni/basic", value="Metallic", inplace=True)
df['Metallic'] = df['Metallic'].apply(lambda x: 1 if (str(x) == 'Metallic') else 0)

df['Metallic'].value_counts()

1    12140
0    11990
Name: Metallic, dtype: int64

In [51]:
# desc

# Fix the name
df.rename(columns={'desc': 'Desc'}, inplace=True)

df.drop("Desc", axis = 1, inplace=True)

In [52]:
# seller

# Fix the name
df.rename(columns={'seller': 'Dealer'}, inplace=True)

df['Dealer'] = df['Dealer'].apply(lambda x: 1 if (str(x) == 'Dealer') else 0)
df['Dealer'].value_counts()

1    22762
0     1368
Name: Dealer, dtype: int64

In [53]:
# Seats

df.Seats = df.Seats.apply(lambda x: str(x).replace('[\'\\n, ', '' ).replace(', \\n\']', '' )  )

makes = df['Make'].unique()
for m in makes:
    models = df[df.Make == m].Model.unique()
    for d in models:
        most_common = df[(df.Make == m) & (df.Model == d)].Seats.value_counts().idxmax()
        df.Seats = df.Seats.apply(lambda x: most_common if (x=='nan') else x)

df[df.Seats == 'nan'].Seats = 0        
df.Seats.value_counts()

5    19255
4     3717
2      714
7      343
8       35
9       32
3       18
0        9
6        4
1        3
Name: Seats, dtype: int64

In [54]:
# Seats

df['Seats'] = df['Seats'].astype(str)

df.loc[df['Seats'] == '17', 'Seats'] = '5'
df.loc[(df['Seats'] == '0') | (df['Seats'] == '1'), 'Seats'] = '4'

df['Seats'].value_counts()

5    19255
4     3729
2      714
7      343
8       35
9       32
3       18
6        4
Name: Seats, dtype: int64

In [55]:
# Power

def clear(aStr):
    return re.sub(r' kW \(\d* hp\)\\n\'\]', '', re.sub(r'\[\'\\n', '', re.sub(r',', '', aStr)))

df.Power = df.Power.apply(lambda x: clear(str(x)) )
df['Power'].replace('nan', np.NaN, inplace=True)
df.Power.value_counts(dropna = False)

110    1917
96     1261
88     1152
81     1106
66     1022
       ...
41        1
419       1
17        1
354       1
216       1
Name: Power, Length: 270, dtype: int64

In [56]:
for group1 in list(df["Make_Model"].unique()):        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["Power"].mode())
    if mode != []:
        df.loc[cond, "Power"] = df.loc[cond, "Power"].fillna(df[cond]["Power"].mode()[0])
    else:
        df.loc[cond, "Power"] = df.loc[cond, "Power"].fillna(df["Power"].mode()[0])
        
df.Power.value_counts(dropna=False).head(50)

110    1942
96     1325
88     1177
81     1129
66     1068
85      930
74      866
103     832
140     735
51      701
70      673
100     607
55      486
92      448
147     396
125     368
80      334
90      313
120     309
135     298
132     294
118     260
130     219
84      213
115     213
67      211
221     203
206     198
77      195
82      188
53      184
63      184
173     183
97      178
145     171
104     158
150     151
59      140
60      137
73      135
202     130
68      123
112     121
107     118
54      117
44      117
241     113
52      110
75      110
121     109
Name: Power, dtype: int64

In [57]:
# Engine size 

# Fix the name
df.rename(columns={'Engine size': 'Engine_Size'}, inplace=True)

def clear(aStr):
    return re.sub(r' cc\\n\'\]', '', re.sub(r',', '', re.sub(r'\[\'\\n', '', aStr)))

df.Engine_Size = df.Engine_Size.apply(lambda x: clear(str(x)) )
df.Engine_Size.value_counts(dropna=False)

999      2061
1598     1996
1969     1577
1461     1063
nan       945
         ...
3950        1
3595        1
54009       1
2993        1
3192        1
Name: Engine_Size, Length: 260, dtype: int64

In [58]:
# Engine size 

df["Engine_Size"].replace(to_replace='nan', value=np.nan)
df['Engine_Size'] = pd.to_numeric(df['Engine_Size'], errors='coerce')

df['Engine_Size'].value_counts(dropna = False)

999.0      2061
1598.0     1996
1969.0     1577
1461.0     1063
NaN         945
           ...
3950.0        1
3595.0        1
54009.0       1
2993.0        1
3192.0        1
Name: Engine_Size, Length: 260, dtype: int64

In [59]:
# Engine size 

for group1 in list(df["Make_Model"].unique()):        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["Engine_Size"].mode())
    if mode != []:
        df.loc[cond, "Engine_Size"] = df.loc[cond, "Engine_Size"].fillna(df[cond]["Engine_Size"].mode()[0])
    else:
        df.loc[cond, "Engine_Size"] = df.loc[cond, "Engine_Size"].fillna(df["Engine_Size"].mode()[0])
        
df.Engine_Size.value_counts(dropna=False)

999.0     2192
1598.0    2076
1969.0    1605
1461.0    1115
998.0      941
          ...
1489.0       1
3998.0       1
1296.0       1
4995.0       1
3192.0       1
Name: Engine_Size, Length: 259, dtype: int64

In [60]:
# Gears 

df.drop('Gears', inplace=True, axis=1)

In [61]:
# CO2 emissions

# Fix the name
df.rename(columns={'CO2 emissions': 'CO2_Emissions'}, inplace=True)

df["CO2_Emissions"] = df["CO2_Emissions"].dropna().apply(lambda x: str(x).rstrip(' g/km (comb.)').replace(',', ''))

df.CO2_Emissions.value_counts(dropna = False)

NaN     7892
0        912
119      378
124      323
114      303
        ...
252        1
264        1
324        1
240        1
1060       1
Name: CO2_Emissions, Length: 278, dtype: int64

In [62]:
for group1 in list(df["Make_Model"].unique()):        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["CO2_Emissions"].mode())
    if mode != []:
        df.loc[cond, "CO2_Emissions"] = df.loc[cond, "CO2_Emissions"].fillna(df[cond]["CO2_Emissions"].mode()[0])
    else:
        df.loc[cond, "CO2_Emissions"] = df.loc[cond, "CO2_Emissions"].fillna(df["CO2_Emissions"].mode()[0])
        
df.CO2_Emissions.value_counts(dropna = False)

0        1905
119       940
129       738
127       686
124       643
         ...
290         1
15168       1
7           1
264         1
345         1
Name: CO2_Emissions, Length: 277, dtype: int64

In [63]:
# Manufacturer colour 

# Fix the name
df.rename(columns={'Manufacturer colour': 'Manufacturer_Colour'}, inplace=True)

df.drop('Manufacturer_Colour', inplace=True, axis=1)

In [64]:
# 4WD

# Fix the name
df.rename(columns={'Drivetrain': 'Four_Wheel_Drive'}, inplace=True)

df.Four_Wheel_Drive = df.Four_Wheel_Drive.apply(lambda x: str(x).replace('[\'\\n, ', '').replace(', \\n\']', '')  )
df.Four_Wheel_Drive = df.Four_Wheel_Drive.apply(lambda x: 1 if (x == '4WD') else 0)
df.Four_Wheel_Drive.value_counts()

0    22079
1     2051
Name: Four_Wheel_Drive, dtype: int64

In [65]:
# Cylinders

df.Cylinders = df.Cylinders.apply(lambda x: str(x).replace('[\'\\n', '').replace('\\n\']', '')  )
df.Cylinders.value_counts()

4      11141
nan     8524
3       3226
6        459
5        448
8        193
2         96
0         21
1         15
7          5
12         1
26         1
Name: Cylinders, dtype: int64

In [66]:
# Cylinders

df["Cylinders"].replace(to_replace='nan', value=np.nan)
df['Cylinders'] = pd.to_numeric(df['Cylinders'], errors='coerce')

df['Cylinders'].value_counts(dropna = False)

4.0     11141
NaN      8524
3.0      3226
6.0       459
5.0       448
8.0       193
2.0        96
0.0        21
1.0        15
7.0         5
12.0        1
26.0        1
Name: Cylinders, dtype: int64

In [67]:
# Cylinders

for group1 in list(df["Make_Model"].unique()):        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["Cylinders"].mode())
    if mode != []:
        df.loc[cond, "Cylinders"] = df.loc[cond, "Cylinders"].fillna(df[cond]["Cylinders"].mode()[0])
    else:
        df.loc[cond, "Cylinders"] = df.loc[cond, "Cylinders"].fillna(df["Cylinders"].mode()[0])
        
df.Cylinders.value_counts(dropna=False)

4.0     17306
3.0      4937
6.0       582
5.0       573
8.0       369
0.0       195
2.0        96
1.0        65
7.0         5
12.0        1
26.0        1
Name: Cylinders, dtype: int64

In [68]:
# Cylinders

df = df.drop(df[df.Cylinders == 26.0].index)
df.Cylinders.value_counts(dropna=False)

4.0     17306
3.0      4937
6.0       582
5.0       573
8.0       369
0.0       195
2.0        96
1.0        65
7.0         5
12.0        1
Name: Cylinders, dtype: int64

In [69]:
# Fuel consumption

# Fix the name
df.rename(columns={'Fuel consumption': 'Fuel_Consumption'}, inplace=True)

df.Fuel_Consumption.value_counts()

[[0 l/100 km (comb.)]]                                                        299
[[0 l/100 km (comb.)], [0 l/100 km (city)], [0 l/100 km (country)]]           217
[[3.4 l/100 km (comb.)], [3.7 l/100 km (city)], [3.2 l/100 km (country)]]     170
[[4 l/100 km (comb.)]]                                                        149
[[3.9 l/100 km (comb.)]]                                                      131
                                                                             ...
[[5.5 l/100 km (comb.)], [7 l/100 km (city)], [4.8 l/100 km (country)]]         1
[[5.1 l/100 km (comb.)], [5.7 l/100 km (city)], [4.3 l/100 km (country)]]       1
[[4.7 l/100 km (comb.)], [6.6 l/100 km (city)], [4.1 l/100 km (country)]]       1
[[4.2 l/100 km (comb.)], [4.2 l/100 km (city)], [4.2 l/100 km (country)]]       1
[[9.1 l/100 km (comb.)], [12.9 l/100 km (city)], [6.9 l/100 km (country)]]      1
Name: Fuel_Consumption, Length: 2829, dtype: int64

In [70]:
df['Fuel_Consumption'] = df['Fuel_Consumption'].astype(str).str.split(" ").str[0]

df['Fuel_Consumption'] = df['Fuel_Consumption'].dropna().replace('\[\[\'','',regex=True)

df.Fuel_Consumption.value_counts(dropna =False)

nan     3794
5        815
4.9      789
4.5      666
5.1      631
        ...
16         1
57         1
16.5       1
61         1
14.1       1
Name: Fuel_Consumption, Length: 140, dtype: int64

In [71]:
df['Fuel_Consumption'] = pd.to_numeric(df['Fuel_Consumption'], errors='coerce')
df.Fuel_Consumption.value_counts(dropna =False)

NaN     3794
5.0      815
4.9      789
4.5      666
5.1      631
        ...
16.0       1
57.0       1
16.5       1
61.0       1
14.1       1
Name: Fuel_Consumption, Length: 140, dtype: int64

In [72]:
for group1 in list(df["Make_Model"].unique()):        
    cond = (df["Make_Model"] == group1)
    mode = list(df[cond]["Fuel_Consumption"].mode())
    if mode != []:
        df.loc[cond, "Fuel_Consumption"] = df.loc[cond, "Fuel_Consumption"].fillna(df[cond]["Fuel_Consumption"].mode()[0])
    else:
        df.loc[cond, "Fuel_Consumption"] = df.loc[cond, "Fuel_Consumption"].fillna(df["Fuel_Consumption"].mode()[0])
        
df.Fuel_Consumption.value_counts(dropna=False)

5.0     1241
4.5     1005
4.9      988
5.1      789
5.4      713
        ...
16.0       1
57.0       1
16.5       1
61.0       1
14.1       1
Name: Fuel_Consumption, Length: 139, dtype: int64

In [73]:
# Comfort and Convenience 

# Fix the name
df.rename(columns={'Comfort and Convenience': 'Comfort_and_Convenience'}, inplace=True)

df["Comfort_and_Convenience"] = [",".join(item) if type(item) == list else item for item in df["Comfort_and_Convenience"]]
df.Comfort_and_Convenience.sample(20)

16949                                                  NaN
3726     360° camera, Air conditioning, Armrest, Automa...
12599    Air conditioning, Armrest, Automatic climate c...
24505                                                  NaN
24389    Air conditioning, Armrest, Automatic climate c...
11247    Air conditioning, Armrest, Automatic climate c...
4663     Air conditioning, Armrest, Automatic climate c...
1046     Armrest, Automatic climate control, 2 zones, C...
22490                                                  NaN
8436     Air conditioning, Automatic climate control, C...
2563     Air conditioning, Cruise control, Electrical s...
16224    Multi-function steering wheel, Power windows, ...
3093     Air conditioning, Cruise control, Electrical s...
15392    Air conditioning, Automatic climate control, C...
3175     Automatic climate control, 2 zones, Cruise con...
11805    Air conditioning, Automatic climate control, C...
15572                                        Power windows
21240                                                  NaN
6187     Air conditioning, Armrest, Cruise control, Ele...
28799                                                  NaN
Name: Comfort_and_Convenience, dtype: object

In [74]:
counts = df['Comfort_and_Convenience'].str.count(',') + 1

df['Comfort_and_Convenience'] = counts.apply(lambda x: 'Premium' if x > 15 else ('Business' if 5 <= x <= 15 else 'Standard'))
df['Comfort_and_Convenience'].value_counts()

Business    10627
Premium      8331
Standard     5171
Name: Comfort_and_Convenience, dtype: int64

In [75]:
# Entertainment and Media

# Fix the name
df.rename(columns={'Entertainment and Media': 'Entertainment_and_Media'}, inplace=True)

df["Entertainment_and_Media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment_and_Media"]]

idx = df.Entertainment_and_Media.str.len().idxmax() 
df['Entertainment_and_Media'][idx]

'Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, MP3, On-board computer, Radio, Sound system, Television, USB, WLAN / WiFi hotspot'

In [76]:
# Entertainment and Media
df["Entertainment_and_Media"].replace(to_replace="NaN", value=np.nan)
df.Entertainment_and_Media.value_counts(dropna=False)

NaN                                                                                                                                                                      3666
Bluetooth, USB                                                                                                                                                            750
Bluetooth                                                                                                                                                                 640
On-board computer                                                                                                                                                         519
CD player, On-board computer, Radio                                                                                                                                       481
                                                                                                                                                                         ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, On-board computer, USB       1
Bluetooth, Hands-free equipment, Induction charging for smartphones, MP3, On-board computer, Radio, Sound system, USB                                                       1
Apple CarPlay, Bluetooth, CD player, Digital cockpit, MP3, Radio, Sound system                                                                                              1
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, MP3, USB                                                                                                           1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                             1
Name: Entertainment_and_Media, Length: 1764, dtype: int64

In [77]:
# Entertainment and Media
counts = df['Entertainment_and_Media'].str.count(',') + 1
df['Entertainment_and_Media'] = counts.apply(lambda x: 'Premium' if x > 8 else ('Business' if 5 <= x <= 8 else 'Standard'))

df['Entertainment_and_Media'].value_counts()

Standard    11550
Business     7551
Premium      5028
Name: Entertainment_and_Media, dtype: int64

In [78]:
# Safety and Security

# Fix the name
df.rename(columns={'Safety and Security': 'Safety_and_Security'}, inplace=True)

df["Safety_and_Security"] = [",".join(item) if type(item) == list else item for item in df["Safety_and_Security"]]

df.Safety_and_Security.value_counts()

Isofix                                                                                                                                                                                                                                                                                                                                                                                                                378
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                     328
ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                 123
ABS, Central door lock, Driver-side airbag, Fog lights, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                                                     98
ABS, Fog lights, Side airbag                                                                                                                                                                                                                                                                                                                                                                                           95
                                                                                                                                                                                                                                                                                                                                                                                                                     ...
ABS, Adaptive headlights, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, High beam assist, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                          1
ABS, Central door lock, Central door lock with remote control, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traffic sign recognition      1
ABS, Central door lock, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                 1
ABS, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Emergency brake assistant, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control                                                                             1
Adaptive Cruise Control, Adaptive headlights, Daytime running lights, Emergency system, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Speed limit control system, Tire pressure monitoring system                                                                                                                                                                                          1
Name: Safety_and_Security, Length: 11209, dtype: int64

In [79]:
counts = df['Safety_and_Security'].str.count(',') + 1

df['Safety_and_Security'] = counts.apply(lambda x: 'Premium' if x > 10 else ('Business' if 8 <= x <= 10 else 'Standard'))
df.Safety_and_Security.value_counts(dropna=True)

Premium     14889
Standard     5420
Business     3820
Name: Safety_and_Security, dtype: int64

In [80]:
# Extras

df['Extras'] = df['Extras'].dropna().apply(lambda x: str(x) if isinstance(x, object) else x)
df['Extras'] = df['Extras'].dropna().replace('\[','',regex=True)
df['Extras'] = df['Extras'].dropna().replace('\]','',regex=True)
df['Extras'] = df['Extras'].dropna().replace('\'','',regex=True)
df['Extras'] = df['Extras'].dropna().replace('\"','',regex=True)
df['Extras']

0                                                      NaN
3                                              Sport seats
4                                                      NaN
5        Alloy wheels (17), Catalytic Converter, Emerge...
6                                                      NaN
                               ...
29472                                         Alloy wheels
29474                                         Alloy wheels
29475                     Alloy wheels (16), Trailer hitch
29476    Alloy wheels, Automatically dimming interior m...
29477    Alloy wheels (18), Automatically dimming inter...
Name: Extras, Length: 24129, dtype: object

In [81]:
# Extras
idx1 = df.Extras.str.len().idxmax() 
df['Extras'][idx1]

'All season tyres, Alloy wheels (20), Ambient lighting, Automatically dimming interior mirror, Awning, Cargo barrier, Electronic parking brake, Emergency tyre, Emergency tyre repair kit, Handicapped enabled, Headlight washer system, Roof rack, Shift paddles, Ski bag, Spare tyre, Spoiler, Sport package, Sport seats, Sport suspension, Steel wheels, Summer tyres, Touch screen, Trailer hitch, Voice Control, Winter package, Winter tyres'

In [82]:
df["Extras"].replace(to_replace="NaN", value=np.nan)
df.Extras.value_counts(dropna=False)

NaN                                                                                                                                                                                                                         4089
Alloy wheels                                                                                                                                                                                                                3045
Alloy wheels, Roof rack                                                                                                                                                                                                      356
Alloy wheels, Sport seats                                                                                                                                                                                                    295
Alloy wheels, Touch screen                                                                                                                                                                                                   225
                                                                                                                                                                                                                            ...
Alloy wheels, Ambient lighting, Automatically dimming interior mirror, Cargo barrier, Electronic parking brake, Spare tyre, Summer tyres, Touch screen, Voice Control                                                          1
Alloy wheels, Ambient lighting, Automatically dimming interior mirror, Electronic parking brake, Shift paddles, Spare tyre, Touch screen, Voice Control                                                                        1
Ambient lighting, Automatically dimming interior mirror, Roof rack, Touch screen                                                                                                                                               1
Alloy wheels, Ambient lighting, Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Emergency tyre repair kit, Shift paddles, Sport seats, Summer tyres, Touch screen, Trailer hitch, Voice Control       1
All season tyres, Ambient lighting, Cargo barrier, Emergency tyre repair kit, Spare tyre, Steel wheels, Voice Control, Winter package, Winter tyres                                                                            1
Name: Extras, Length: 8102, dtype: int64

In [83]:
counts = df['Extras'].str.count(',') + 1

df['Extras'] = counts.apply(lambda x: 'Premium' if x > 15 else ('Business' if 5 <= x <= 15 else 'Standard'))
df['Extras'].value_counts()

Standard    15397
Business     8557
Premium       175
Name: Extras, dtype: int64

In [84]:
# Empty weight

# Fix the name
df.rename(columns={'Empty weight': 'Empty_Weight'}, inplace=True)

df.drop('Empty_Weight', inplace=True, axis=1)

In [85]:
# Model code

# Fix the name
df.rename(columns={'Model code': 'Model_Code'}, inplace=True)

df.drop('Model_Code', inplace=True, axis=1)

In [86]:
# General inspection

# Fix the name
df.rename(columns={'General inspection': 'General_Inspection'}, inplace=True)

df.General_Inspection.value_counts(dropna = False)

NaN        13970
New         5098
08/2023      221
05/2023      218
06/2023      212
           ...
08/2019        1
01/2021        1
03/2026        1
02/2026        1
03/2021        1
Name: General_Inspection, Length: 81, dtype: int64

In [87]:
df["General_Inspection"][df["General_Inspection"]=="New"] = "01/2026"
df.General_Inspection.value_counts(dropna = False)

NaN        13970
01/2026     5100
08/2023      221
05/2023      218
06/2023      212
           ...
08/2013        1
01/2021        1
03/2026        1
02/2026        1
03/2021        1
Name: General_Inspection, Length: 80, dtype: int64

In [88]:
General_Inspection =  df['General_Inspection'].str.split("/", n=1, expand=True)
General_Inspection.columns = ["General_Inspection_Month", "General_Inspection_Year"]
df["General_Inspection_Year"] = General_Inspection["General_Inspection_Year"]

df["General_Inspection_Year"].value_counts(dropna = False)

NaN     13970
2026     5117
2023     2182
2024     1587
2025      706
2022      508
2021       38
2020       12
2019        6
2017        2
2013        1
Name: General_Inspection_Year, dtype: int64

In [89]:
# General_Inspection
#Let's drop it. We don't need anymore
df.drop('General_Inspection', inplace=True, axis=1)

In [90]:
for group1 in list(df["Age"].unique()):
    cond = (df["Age"]== group1)
    mode = list(df[cond]["General_Inspection_Year"].mode())
    if mode != []:
        df.loc[cond, "General_Inspection_Year"] = df.loc[cond, "General_Inspection_Year"].fillna(df[cond]["General_Inspection_Year"].mode()[0])
    else:
        df.loc[cond, "General_Inspection_Year"] = df.loc[cond, "General_Inspection_Year"].fillna(df["General_Inspection_Year"].mode()[0])
        
df["General_Inspection_Year"].value_counts(dropna = False)

2026    16064
2023     3998
2025     1913
2024     1587
2022      508
2021       38
2020       12
2019        6
2017        2
2013        1
Name: General_Inspection_Year, dtype: int64

In [91]:
# Last service 

# Fix the name
df.rename(columns={'Last service': 'Last_Service'}, inplace=True)

df.drop('Last_Service', inplace=True, axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24129 entries, 0 to 29477
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               24129 non-null  object
 1   Make                     24129 non-null  object
 2   Model                    24129 non-null  object
 3   Location                 24129 non-null  object
 4   Price                    24129 non-null  float64
 5   Body_Type                24129 non-null  object
 6   Type                     24129 non-null  object
 7   Doors                    24129 non-null  object
 8   Mileage                  24129 non-null  int32
 9   Gearbox                  24129 non-null  object
 10  Fuel_Type                24129 non-null  object
 11  Colour                   24129 non-null  string
 12  Metallic                 24129 non-null  int64
 13  Dealer                   24129 non-null  int64
 14  Seats                    24129 non-null  object
 15  Power                    24129 non-null  object
 16  Engine_Size              24129 non-null  float64
 17  CO2_Emissions            24129 non-null  object
 18  Four_Wheel_Drive         24129 non-null  int64
 19  Cylinders                24129 non-null  float64
 20  Fuel_Consumption         24129 non-null  float64
 21  Comfort_and_Convenience  24129 non-null  object
 22  Entertainment_and_Media  24129 non-null  object
 23  Safety_and_Security      24129 non-null  object
 24  Extras                   24129 non-null  object
 25  Full service history     10659 non-null  object
 26  Non-smoker vehicle       9743 non-null   object
 27  Emission class           15312 non-null  object
 28  Emissions sticker        8100 non-null   object
 29  Upholstery colour        11938 non-null  object
 30  Upholstery               15554 non-null  object
 31  Production date          5065 non-null   float64
 32  Previous owner           11706 non-null  object
 33  Other fuel types         1807 non-null   object
 34  Power consumption        308 non-null    object
 35  Energy efficiency class  6699 non-null   object
 36  CO2 efficiency           6699 non-null   object
 37  Fuel consumption WLTP    76 non-null     object
 38  CO2 emissions WLTP       84 non-null     object
 39  Available from           243 non-null    object
 40  Taxi or rental car       320 non-null    object
 41  Availability             250 non-null    object
 42  Last timing belt change  322 non-null    object
 43  Electric Range WLTP      7 non-null      object
 44  Power consumption WLTP   7 non-null      object
 45  Battery Ownership        5 non-null      object
 46  Warranty_Category        24129 non-null  category
 47  First_Registration_Year  24129 non-null  int16
 48  Age                      24129 non-null  int16
 49  General_Inspection_Year  24129 non-null  object
dtypes: category(1), float64(5), int16(2), int32(1), int64(3), object(37), string(1)
memory usage: 9.4+ MB

In [92]:
# Full service history

# Fix the name
df.rename(columns={'Full service history': 'Full_Service_History'}, inplace=True)

df.Full_Service_History = df.Full_Service_History.apply(lambda x: 1 if (x == 'Yes') else 0)
df.Full_Service_History.value_counts()

0    13470
1    10659
Name: Full_Service_History, dtype: int64

In [93]:
# Non-smoker

# Fix the name
df.rename(columns={'Non-smoker vehicle': 'Non_Smoker_Vehicle'}, inplace=True)

df.Non_Smoker_Vehicle = df.Non_Smoker_Vehicle.apply(lambda x: 1 if (x == 'Yes') else 0)
df.Non_Smoker_Vehicle.value_counts()
#
# TODO
#

0    14386
1     9743
Name: Non_Smoker_Vehicle, dtype: int64

In [94]:
# Emission class

# Fix the name
df.rename(columns={'Emission class': 'Emission_Class'}, inplace=True)
df.Emission_Class.value_counts(dropna = False)

NaN             8817
Euro 6          5966
Euro 6d-TEMP    2994
Euro 6d         2346
Euro 5          2216
Euro 4          1415
Euro 3           220
Euro 6c          123
Euro 1            28
Euro 2             4
Name: Emission_Class, dtype: int64

In [95]:
# Emission class

df.Emission_Class=df.Emission_Class.dropna().apply(lambda x: "Euro 6" if "6" in x else x)
df.Emission_Class=df.Emission_Class.dropna().apply(lambda x: float(x[-1]))
df.Emission_Class.value_counts(dropna = False)

6.0    11429
NaN     8817
5.0     2216
4.0     1415
3.0      220
1.0       28
2.0        4
Name: Emission_Class, dtype: int64

In [96]:
for group1 in list(df["Make_Model"].unique()):
    cond = (df["Make_Model"]==group1)
    mode = list(df[cond]["Emission_Class"].mode())
    if mode != []:
        df.loc[cond, "Emission_Class"] = df.loc[cond, "Emission_Class"].fillna(df[cond]["Emission_Class"].mode()[0])
    else:
        df.loc[cond, "Emission_Class"] = df.loc[cond, "Emission_Class"].fillna(df["Emission_Class"].mode()[0])
        
df.Emission_Class.value_counts()

6.0    19373
5.0     2696
4.0     1777
3.0      249
1.0       28
2.0        6
Name: Emission_Class, dtype: int64

In [97]:
# Emissions sticker -drop

# Fix the name
df.rename(columns={'Emissions sticker': 'Emissions_Sticker'}, inplace=True)

df.drop('Emissions_Sticker', inplace=True, axis=1)

In [98]:
# Upholstery colour 

# Fix the name
df.rename(columns={'Upholstery colour': 'Upholstery_Colour'}, inplace=True)

df.drop('Upholstery_Colour', inplace=True, axis=1)

In [99]:
# Upholstery deri 1 digerleri 0
df.Upholstery.value_counts(dropna=False)

NaN             8575
Cloth           8103
Full leather    3676
Part leather    2473
alcantara        637
Other            522
Velour           143
Name: Upholstery, dtype: int64

In [100]:
#Function to make upholstery 1 and 0
leather = ['Full leather', 'Part leather']
def upholsterytype(x):
    if x in leather:
        return 1
    else:
        return 0
    
#apply the function to the upholstery
df['Upholstery'] = df.Upholstery.apply(upholsterytype)
df['Upholstery'].value_counts(dropna=False)

0    17980
1     6149
Name: Upholstery, dtype: int64

In [101]:
# Production date

# Fix the name
df.rename(columns={'Production date': 'Production_Date'}, inplace=True)

df.drop('Production_Date', inplace=True, axis=1)

In [102]:
# Previous owner

# Fix the name
df.rename(columns={'Previous owner': 'Previous_Owner'}, inplace=True)

df['Previous_Owner'] = df['Previous_Owner'].astype(str).str.split(" ").str[-1]
df['Previous_Owner'] = df['Previous_Owner'].str.replace("']","")
df['Previous_Owner'] = df['Previous_Owner'].str.replace("'","")

df['Previous_Owner'].replace('nan', np.NaN, inplace=True)

df.Previous_Owner.value_counts(dropna = False)

NaN    12423
1       8305
2       2712
3        498
4        110
5         43
6         16
7         10
8          6
9          3
10         1
14         1
12         1
Name: Previous_Owner, dtype: int64

In [103]:
for group1 in list(df["Age"].unique()):
    cond = (df["Age"]==group1)
    mode = list(df[cond]["Previous_Owner"].mode())
    if mode != []:
        df.loc[cond, "Previous_Owner"] = df.loc[cond, "Previous_Owner"].fillna(df[cond]["Previous_Owner"].mode()[0])
    else:
        df.loc[cond, "Previous_Owner"] = df.loc[cond, "Previous_Owner"].fillna(df["Previous_Owner"].mode()[0])

In [104]:
# Electric car
# Fix the name
df.rename(columns={'Other fuel types': 'Electric_Car'}, inplace=True)

# Other fuel types converted to Electric_Car
df.Electric_Car.value_counts()

Electricity    1803
Hydogen           4
Name: Electric_Car, dtype: int64

In [105]:
df.Electric_Car= df.Electric_Car.apply(lambda x: 1 if str(x)=="Electricity" else 0)

df.Electric_Car.value_counts()

0    22326
1     1803
Name: Electric_Car, dtype: int64

In [106]:
# Power consumption drop

# Fix the name
df.rename(columns={'Power consumption': 'Power_Consumption'}, inplace=True)
df.drop('Power_Consumption', inplace=True, axis=1)

In [107]:
# Energy efficiency class drop Nan 0 olacak sekilde A+++ dan baslayip asagiya inen rakamlar verelim

# Fix the name
df.rename(columns={'Energy efficiency class': 'Energy_Efficiency_Class'}, inplace=True)
df.Energy_Efficiency_Class.value_counts(dropna = False)

NaN     17430
B        1991
A        1588
C        1025
A+        905
D         518
A+++      213
E         191
G         110
F          95
A++        63
Name: Energy_Efficiency_Class, dtype: int64

In [108]:
for group1 in list(df["Make_Model"].unique()):
    cond = (df["Make_Model"]==group1)
    mode = list(df[cond]["Energy_Efficiency_Class"].mode())
    if mode != []:
        df.loc[cond, "Energy_Efficiency_Class"] = df.loc[cond, "Energy_Efficiency_Class"].fillna(df[cond]["Energy_Efficiency_Class"].mode()[0])
    else:
        df.loc[cond, "Energy_Efficiency_Class"] = df.loc[cond, "Energy_Efficiency_Class"].fillna(df["Energy_Efficiency_Class"].mode()[0])
        
df.Energy_Efficiency_Class.value_counts()

B       8737
A       5389
C       3938
A+      2126
D       1598
G        692
E        681
A+++     410
F        287
A++      271
Name: Energy_Efficiency_Class, dtype: int64

In [109]:

def Energy_Efficiency_Class_type(x):
    if x == 'A+++':
        return 10
    elif x == 'A++':
        return 9
    elif x == 'A+':
        return 8
    elif x == 'A':
        return 7
    elif x == 'B':
        return 6
    elif x == 'C':
        return 5
    elif x == 'D':
        return 4
    elif x == 'E':
        return 3
    elif x == 'F':
        return 2
    else:
        return 1

    
df['Energy_Efficiency_Class'] = df.Energy_Efficiency_Class.apply(Energy_Efficiency_Class_type)
df['Energy_Efficiency_Class'].value_counts(dropna=False)

6     8737
7     5389
5     3938
8     2126
4     1598
1      692
3      681
10     410
2      287
9      271
Name: Energy_Efficiency_Class, dtype: int64

In [110]:
# CO2 efficiency

# Fix the name
df.rename(columns={'CO2 efficiency': 'CO2_Efficiency'}, inplace=True)

df.drop('CO2_Efficiency', inplace=True, axis=1)

In [111]:
# Fuel consumption WLTP

# Fix the name
df.rename(columns={'Fuel consumption WLTP': 'Fuel_Consumption_WLTP'}, inplace=True)

df.drop('Fuel_Consumption_WLTP', inplace=True, axis=1)

In [112]:
# CO2 emissions WLTP Drop

# Fix the name
df.rename(columns={'CO2 emissions WLTP': 'CO2_Emissions_WLTP'}, inplace=True)

df.drop('CO2_Emissions_WLTP', inplace=True, axis=1)

In [113]:
# Available from

# Fix the name
df.rename(columns={'Available from': 'Available_From'}, inplace=True)
df.drop('Available_From', inplace=True, axis=1)

In [114]:
# Taxi or rental car

# Fix the name
df.rename(columns={'Taxi or rental car': 'Taxi_or_Rental_Car'}, inplace=True)

df['Taxi_or_Rental_Car'] = df['Taxi_or_Rental_Car'].apply(lambda x: 1 if str(x)=="Yes" else 0)
df.Taxi_or_Rental_Car.value_counts()

0    23809
1      320
Name: Taxi_or_Rental_Car, dtype: int64

In [115]:
# Availability

df.drop('Availability', inplace=True, axis=1)

In [116]:
# Last timing belt change

# Fix the name
df.rename(columns={'Last timing belt change': 'Last_Timing_Belt_Change'}, inplace=True)

df.drop('Last_Timing_Belt_Change', inplace=True, axis=1)

In [117]:
# Electric Range WLTP

# Fix the name
df.rename(columns={'Electric Range WLTP': 'Electric_Range_WLTP'}, inplace=True)

df.drop('Electric_Range_WLTP', inplace=True, axis=1)

In [118]:
# Power consumption WLTP

# Fix the name
df.rename(columns={'Power consumption WLTP': 'Power_consumption_WLTP'}, inplace=True)

df.drop('Power_consumption_WLTP', inplace=True, axis=1)

In [119]:
# Battery Ownership

# Fix the name
df.rename(columns={'Battery Ownership': 'Battery_Ownership'}, inplace=True)
df.drop('Battery_Ownership', inplace=True, axis=1)

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [120]:
df.to_csv("G2 - final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [121]:
#df_dummied.to_csv("final_scout_dummy.csv", index=False)